<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.pexcn.demos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".DemosApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RxJavaSubscribeAndObserverActivity" />
        <activity android:name=".activities.ChromeCustomTabsActivity" />
        <activity android:name=".activities.RequestPermissionActivity" />
        <activity
            android:name=".activities.TransparentNavBarActivity"
            android:theme="@style/TransparentNavigationBarAppTheme" />
        <activity android:name=".activities.ListNestedScrollActivity" />
        <activity android:name=".activities.NestedScrollViewActivity" />
        <activity
            android:name=".activities.SwipeBackLayoutActivity"
            android:theme="@style/SwipeBackLayoutAppTheme" />
        <activity android:name=".activities.RxPermissionsActivity" />
    </application>

</manifest>
