<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.pexcn.demos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main -->
        <activity android:name=".feature.FeatureActivity" />
        <activity android:name=".fixes.FixesActivity" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".customview.CustomViewActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />

        <!-- Feature -->
        <activity android:name=".feature.ChromeCustomTabsActivity" />
        <activity android:name=".feature.RequestPermissionActivity" />
        <activity
            android:name=".feature.SwipeBackLayoutActivity"
            android:theme="@style/SwipeBackLayoutAppTheme" />
        <activity
            android:name=".feature.TransparentNavBarActivity"
            android:theme="@style/TransparentNavigationBarAppTheme" />
        <activity android:name=".feature.GridView9PalaceGridActivity" />

        <!-- Fixes -->
        <activity android:name=".fixes.ListNestedScrollActivity" />
        <activity android:name=".fixes.NestedScrollViewActivity" />

        <!-- RxJava -->
        <activity android:name=".rxjava.RxJavaSubscribeAndObserverActivity" />
        <activity android:name=".rxjava.RxPermissionsActivity" />

        <!-- CustomView -->
        <activity android:name=".customview.CoordinateSystemActivity" />

        <!-- RecyclerView -->
        <activity android:name=".recyclerview.PullToRefreshActivity" />
        <activity android:name=".recyclerview.XRecyclerViewActivity" />
    </application>

</manifest>
